#logo {
	margin-left:2%;	
}
body {
	background-image:url(background.png);
	height: 100%;
    width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	 overflow-x: hidden;
}
h3 {
	text-align: center;
	font-family:'Martel Sans';
}
.partimg {
    border: 3px solid gray;
    padding: 5px;
	margin-bottom:5px;
}
#main {
	margin-left:2%;
	margin-right:2%;
	background-image:url(white.png);
	padding:10px 10px;
	border-radius:5px;
	margin-bottom:2%;
	min-height:100px;
	height:inherit;
}

#bok {
	margin-left:2%;
	margin-right:2%;
	background-image:url(white.png);
	padding:10px 10px;
	border-radius:5px;
	height:inherit;
}
.bok {
	width:100%;
	height:inherit;
	border:none;
	overflow:hidden;
}
iframe {
	overflow:hidden;
	border:none;
	height:inherit;
}
#footer {
	background-image:url(white.png);
	width:100%;
	position: fixed;
    left: 0;
    bottom: 0;
	padding:0.5%;
	font-family:'Open Sans';
	font-size:13px;
	
}
nav {
	background-image:url(white.png);
	width:auto;
}
li a {
	color:#282828;
}
li:hover {
	background-image:url(white.png);
}
.navbar {
	margin-left:1%;
	margin-right:1%;
}
html,body {
    overflow-x: hidden;
}
#server-status {
	font-family:'Open Sans';
	font-size:1em;
}
#green {
	color:green;
}
#red {
	color:red;
}
th, td, tr {
    border-bottom: 1px solid #ddd;
}
.hoverable:hover {
	background-image:url(white.png);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
}